@import url('//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
  font-family:'Muli';
  padding:0;
  margin:0;
  box-sizing:border-box;
}
  
body{
  display:grid; 
  background: #3c5aa6;
  position:relative;
  z-index:0;
}

.heading{
  padding:20px 50px;
  place-self:center;
  background: rgba( 199, 160, 8, 1.00 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.0px );
  -webkit-backdrop-filter: blur( 9.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color:white;
  border-radius:30px;
  font-size: 35px;
  margin:20px 0;
  font-family: 'Pokemon';
  font-weight: 300;
}
  
.pokemon-modal-content .pokemon-name{
  font-size: 30px;
}

.pokemon-card{
  width:200px;
  height:280px;
  border-radius:20px;
  background-image:url(./Pokemon_Trading_Card_Game_cardback.jpg);
  background-size:cover;
  background-position: center;
  border:4px solid #3c5aa6;
  margin:6px 10px;
  transition:0.3s ease-in;
  font-size:16px;
  color: black;
  font-weight:600;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.0px );
  -webkit-backdrop-filter: blur( 9.0px );
}

.pokemon-card:hover{
  border:4px solid #fff;
}

.pokemon-modal-content {
  position: relative;
  height: 550px;
  width: 400px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 150px 30px 1fr;
  place-items: center;
  text-align: center;
  overflow: hidden;
  border: 8px solid #222;
  place-self: center;
  background: #EFEFBB;

}

.pokemon-list-container{
  position:relative;
  z-index:0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.instruction-btns{
  display:flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: 35px;
  transition: 0.4s ease-in;
  background-color: #3c5aa6;
}

.instruction-btns button {
  border:8px solid black;
  font-family: 'Pokemon';
  background: rgba( 199, 160, 8, 1.00 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.0px );
  -webkit-backdrop-filter: blur( 9.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color:white;
  border-radius:30px;
}

.instruction-btns button:hover{
  color: #c7a008;
  background-color: white;

}

#pokemon-modal{
  display:none;
  position:fixed;
  background:rgba(0,0,0,0.5);
  height:100%;
  width:100%;
  z-index:1;
  grid-template-rows: 1fr 60% 1fr 1fr 1fr 1fr;
}

#pokemon-modal.active{
  display:grid;
}

.pokemon-img{
  width:200px;
  height:200px;
  margin: 10px;
  padding: 10px;
  overflow:hidden;
  display:grid;
  z-index: 2;
  place-items:center;
  grid-row: 2;
}

.pokemon-img img{
  width:200px;
  grid-row: 2;
}

.pokemon-info {
  grid-row: 6;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pokemon-id {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  grid-row: 1;
  font-weight: 800;
  font-size: 50px;
}

.pokemon-name {
  grid-row: 5;
  padding-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.pokemon-info div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 20px;;
}

.pokemon-info div .type {
  padding: 5px 5px;
  border-radius: 10px;
  color: black;
  margin: 5px;
  font-size: 15px;
  word-wrap: break-word;
}

.pokemon-info div .weight{
  padding: 5px 5px;
  border-radius: 10px;
  color: black;
  margin: 5px;
  font-size: 15px;
  word-wrap: break-word;
}

.pokemon-info div .height {
  padding: 5px 5px;
  border-radius: 10px;
  color: black;
  margin: 5px;
  font-size: 15px;
  word-wrap: break-word;
}

.pokemon-info span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-weight: 600;
}

/* @media screen and (max-width:450px) {
body{
  background:#222;
}

.heading{
  font-size: 25px;
}

.content{
  width:350px;
}
} */