/* * {
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    color: #ffe3fe;
    background-color: #ABEC67;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  
  h1 {
    margin: 2%;
    display: flex;
    justify-content: center;
    font-size: 350%;
  }
  
  button {
    background: rgba( 171, 236, 103, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 10px;
    padding: 1%;
    font-size: 12px;
    font-weight: 500;
  }
  
  .pokemon-info{
  
    display: flex;
    justify-content: center;
  } */
  
  /* .pokemon-list-container {
    display: inline;
    justify-content: center;
    margin: 2%;
  width: 67vw; 
    padding: 1%;
    flex-wrap: nowrap;
  } */
  
  /* .instruction-btns{
    display: flex;
    flex-direction: row;
    margin: 2%;
    padding: 1%;
  }
  
  .next, .previous{
    color: #ffe3fe;
    background-color: black;
    width: 25vw;
    display: inline;
  }
  
  .card {
      height : 100vh;
  }

  img {
    width: 12%;
    height: 12%;
  } */
@import url('//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

*{
    font-family:'Lato';
    padding:0;
    margin:0;
    box-sizing:border-box;
  }
  
  body{
    display:grid; 
    background: #3c5aa6;
    
    position:relative;
    z-index:0;
  }
  
  .heading{
    padding:20px 50px;
    place-self:center;
    background: rgba( 199, 160, 8, 1.00 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color:white;
    border-radius:30px;
    margin:20px 0;
    font-family: 'Pokemon';
    font-weight: 300;
  }
  
  .pokecontent .pokename{
    font-size: 30px;
  }

  .pokebutton{
    width:200px;
    height:280px;
    border-radius:20px;
    background-image:url(./Pokemon_Trading_Card_Game_cardback.jpg);
    background-size:cover;
    background-position: center;
    /* background-attachment: fixed; */
    border:4px solid #3c5aa6;
    margin:6px 10px;
    transition:0.3s ease-in;
    font-size:16px;
    color: black;
    font-weight:600;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 9.0px );
    -webkit-backdrop-filter: blur( 9.0px );
  }
  
  .pokebutton:hover{
    background-color:white;
    color:black;
  }
  
  .pokecontent {
    position: relative;
    height: 550px;
    width: 400px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 150px 30px 1fr;
    place-items: center;
    text-align: center;
    overflow: hidden;
    border: 8px solid #222;
    place-self: center;
    background: #EFEFBB;
  
}
  
  .pokemon-list-container{
    position:relative;
    z-index:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .onepokemon{
    display:flex;
    margin: 50px 10%;
    justify-content: space-between;
  }

  .onepokemon i{
    font-size: 65px;
    transition: 0.4s ease-in;
    background-color: black;
    border:8px solid black;
  }

  .onepokemon i:hover{
      color: white;
  }
  
  #modal{
    display:none;
    position:fixed;
    background:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
    z-index:1;
    grid-template-rows: 1fr 60% 1fr 1fr 1fr 1fr;
  }
  
  #modal.active{
    display:grid;
  }

  .pokeimg{
    width:200px;
    height:200px;
    margin: 10px;
    padding: 10px;
    overflow:hidden;
    display:grid;
    z-index: 2;
    place-items:center;
    grid-row: 2;
  }
  
  .pokeimg img{
    width:200px;
    grid-row: 2;
  }
  
  .pokeinfo {
    grid-row: 6;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin-top: 31px;
    display: flex;
    flex-direction: column;
}
  .pokeid {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-row: 1;
    font-weight: 800;
    font-size: 50px;
  }

  .pokename {
    grid-row: 5;
    padding-top: 30px;
  }

  .pokeinfo div, .pokeinfo div span, .pokename{
    height:auto;
    font-family: 'Muli';
    font-size: 20px;
    flex-direction: row;
  }

  .pokeinfo div span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokeinfo div span .type {
    padding: 5px 10px;
    border-radius: 10px;
    /* background-color: #222; */
    color: black;
    margin: 5px;
    font-size: 17px;
    word-wrap: break-word;
}

  .pokename .type {
    /* background-color: #222; */
    color: white;
    padding: 1px 8px;
    border-radius: 12px;
    font-family: 'Muli';
}

@media screen and (max-width:450px) {
  body{
    background:#222;
  }
  
  .heading{
    font-size: 25px;
  }
  
  .content{
    width:350px;
  }
}